/*Primary rgb(204, 100, 133) #CC6485
Secondary rgb(151, 232, 255) #97e8ff
Highlight rgb(255, 247, 151) #fff797*/

.clearfloat {
  clear: both;
}

body {
  width: 960px;
  margin: auto;
}

section {
  width: 960px;
  height: 100%;
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #97e8ff;
  z-index: 1;
}

#busicon {
  position: absolute;
  float: left;
  color: #fff797;
  font-size: 6.2em;
  left: 8px;
}

#busicon:hover {
  color: #CC6485;
}

h1 {
  position: absolute;
  float: left;
  left: 40%;
  top: 20%;
  color: #CC6485;
  font-size: 5em;
  font-family: 'Baloo Bhaina', cursive;
}

.imagechoices {
  position: relative;
  width: 80%;
  height: 540px;
  margin: 150px auto;
  border: 3px solid lightgrey;
  border-radius: 10px;

}

#image1:hover, #image2:hover, #image3:hover{
  cursor: pointer;
}

h2 {
  font-size: 2em;
  text-align: center;
  background-color: #CC6485;
  color: white;
  font-weight: 700;
  border-radius: 8px;
}

#image1 {
  max-width: 30%;
  height: 60%;
  display: block;
  position: absolute;
  float: left;
  margin: 90px 10px;
  left: 1%;
  border: 1px solid black;
  border-radius: 10px;
}

#image2 {
  max-width: 30%;
  height: 60%;
  display: block;
  position: absolute;
  float: left;
  margin: 90px 10px;
  left: 33.5%;
  border: 1px solid black;
  border-radius: 10px;
}

#image3 {
  max-width: 30%;
  height: 60%;
  display: block;
  position: absolute;
  float: left;
  margin: 90px 10px;
  left: 66%;
  border: 1px solid black;
  border-radius: 10px;
}

#results {
  position: relative;
  width: 80%;
  height: 540px;
  margin: 150px auto;
  border: 3px solid lightgrey;
  border-radius: 10px;
}
